.posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    align-items: stretch;
}

.post-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    height: 100%;
    min-height: 250px; 
    max-height: 250px;
    overflow: hidden; 
}

.post-card:hover {
    transform: translateY(-5px);
}

.post-title {
    margin: 0 0 10px 0;
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.post-content {
    color: #666;
    font-size: 0.9rem;
    line-height: 1.4;
    margin-bottom: 15px;
    flex-grow: 1;
    overflow: hidden; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis; 
}

.post-author{
    margin: 0 0 10px 0;
    color: #333;
    font-size: 1.0rem;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}


.post-actions {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.action-button, .delete-button {
    padding: 12px 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: all 0.2s;
}

.action-button {
    background-color: #ffffff;
    color: rgb(1, 1, 1);
}

.action-button:hover {
    background-color: #e98ae7;
}

.delete-button {
    background-color: #f44336;
    color: white;
}

.delete-button:hover {
    background-color: #d32f2f;
}
